
.p-selectbutton .p-button {
	background: #1e1e1e;
	border: 1px solid #383838;
	color: rgba(255, 255, 255, 0.87);
	transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  }
  .p-selectbutton .p-button .p-button-icon-left,
  .p-selectbutton .p-button .p-button-icon-right {
	color: rgba(255, 255, 255, 0.6);
  }
  .p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover {
	background: rgba(255, 255, 255, 0.03);
	border-color: #383838;
	color: rgba(255, 255, 255, 0.87);
  }
  .p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover .p-button-icon-left,
  .p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover .p-button-icon-right {
	color: rgba(255, 255, 255, 0.6);
  }
  .p-selectbutton .p-button.p-highlight {
	background: #d18800;
	border-color: #d18800;
	color: #212529;
  }
  .p-selectbutton .p-button.p-highlight .p-button-icon-left,
  .p-selectbutton .p-button.p-highlight .p-button-icon-right {
	color: #212529;
  }
  .p-selectbutton .p-button.p-highlight:hover {
	background: #d18800;
	border-color: #d18800;
	color: #212529;
  }
  .p-selectbutton .p-button.p-highlight:hover .p-button-icon-left,
  .p-selectbutton .p-button.p-highlight:hover .p-button-icon-right {
	color: #212529;
  }
  .p-selectbutton.p-invalid > .p-button {
	border-color: #ef9a9a;
  }
.p-datatable .p-paginator-bottom {
	border-width: 1px 0 0 0;
	border-radius: 0;
  }
  .p-datatable .p-datatable-header {
	background: #2a323d;
	color: rgba(255, 255, 255, 0.6);
	border: solid #3f4b5b;
	border-width: 1px 0 0 0;
	padding: 1rem 1rem;
	font-weight: 600;
  }
  .p-datatable .p-datatable-footer {
	background: #23282f;
	color: rgba(255, 255, 255, 0.87);
	border: 1px solid #3f4b5b;
	border-width: 1px 0 1px 0;
	padding: 1rem 1rem;
	font-weight: 600;
  }
  .p-datatable .p-datatable-thead > tr > th {
	text-align: left;
	padding: 1rem 1rem;
	border: 1px solid #3f4b5b;
	border-width: 1px 0 2px 0;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.87);
	background: #23282f;
	transition: box-shadow 0.15s;
  }
  .p-datatable .p-datatable-tfoot > tr > td {
	text-align: left;
	padding: 1rem 1rem;
	border: 1px solid #3f4b5b;
	border-width: 1px 0 1px 0;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.87);
	background: #212121;
  }
  .p-datatable .p-sortable-column .p-sortable-column-icon {
	color: rgba(255, 255, 255, 0.6);
	margin-left: 0.5rem;
  }
  .p-datatable .p-sortable-column .p-sortable-column-badge {
	border-radius: 50%;
	height: 1.143rem;
	min-width: 1.143rem;
	line-height: 1.143rem;
	color: #151515;
	background: #c298d8;
	margin-left: 0.5rem;
  }
  .p-datatable .p-sortable-column:not(.p-highlight):hover {
	background: rgba(255, 255, 255, 0.04);
	color: rgba(255, 255, 255, 0.87);
  }
  .p-datatable .p-sortable-column:not(.p-highlight):hover .p-sortable-column-icon {
	color: rgba(255, 255, 255, 0.87);
  }
  .p-datatable .p-sortable-column.p-highlight {
	background: #212121;
	color: #c298d8;
  }
  .p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
	color: #c298d8;
  }
  .p-datatable .p-sortable-column.p-highlight:hover {
	background: rgba(255, 255, 255, 0.04);
	color: #c298d8;
  }
  .p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
	color: #c298d8;
  }
  .p-datatable .p-sortable-column:focus {
	box-shadow: inset 0 0 0 0.15rem #f0e6f5;
	outline: 0 none;
  }
  .p-datatable .p-datatable-tbody > tr {
	background: #212121;
	color: rgba(255, 255, 255, 0.87);
	transition: box-shadow 0.15s;
  }
  .p-datatable .p-datatable-tbody > tr:focus {
	@apply outline-0
  }
  .p-datatable .p-datatable-tbody > tr > td {
	text-align: left;
	border: 1px solid #3f4b5b;
	border-width: 1px 0 0 0;
	padding: 1rem 1rem;
  }
  
  
  