@import './primeVue/dialog.css';
@import './primeVue/table.css';
@import './primeVue/tabmenu.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body{
  background-color: #f3dfc1;
}
.positive-cena {
    color: green;
  }
  
  .negative-cena {
    color: red;
  }
  
  .neutral-cena {
    color: black;
  }
  .official-fond {
    color: #d18800;
    
  }
  .official-fond2 {
    background: #d18800 !important;
    
  }
  .unofficial-fond3{
    background: #ab3d30 !important;
    
  }
  .unofficial-fond {
    color: #ab3d30;
    
  }
  .official-fond1 {
    color: #d18800;
    padding: 7px
  }
  .unofficial-fond2 {
    color: #ab3d30;
    padding: 7px
  }
.center{
  margin:auto;

}

* {
  font-family: 'Roboto', sans-serif;
}
