@import './primeVue/dialog.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.positive-cena {
    color: green;
  }
  
  .negative-cena {
    color: red;
  }
  
  .neutral-cena {
    color: black;
  }
.center{
  margin:auto;
  
}